<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}Auth App{% endblock %}</title>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
</head>
<body class="bg-background text-secondary min-h-screen flex items-center justify-center">
  <div class="w-full bg-background text-secondary">
    {% block content %}{% endblock %}
  </div>
</body>
</html>