{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Créer son compte{% endblock %}
{% block content %}
{% load static %}
<div class="grid grid-cols-1 lg:grid-cols-2 min-h-screen">
  <!-- Left Side Image -->
  <div class="hidden lg:flex bg-secondary items-center justify-center">
    <img src="{% static 'images/logo.png' %}" alt="Side Art" class="max-w-md">
  </div>

  <!-- Right Side Form -->
  <div class="w-full flex items-center justify-center px-6 mx-auto">
    <div class="max-w-md w-full space-y-6">
      <div class="flex flex-col items-center">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="w-12 h-12 mb-4">
        <h2 class="text-2xl font-bold text-gray-800">Bienvenue</h2>
        <p class="text-sm text-gray-500">Inscrivez-vous pour commencer.</p>
      </div>
      <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.username.label_tag }}
        {{ form.username|add_class:"w-full border border-gray-300 px-4 py-2 rounded" }}
        {{ form.username.errors }}

        {{ form.email.label_tag }}
        {{ form.email|add_class:"w-full border border-gray-300 px-4 py-2 rounded" }}
        {{ form.email.errors }}

        {{ form.password1.label_tag }}
        {{ form.password1|add_class:"w-full border border-gray-300 px-4 py-2 rounded" }}
        {{ form.password1.errors }}

        {{ form.password2.label_tag }}
        {{ form.password2|add_class:"w-full border border-gray-300 px-4 py-2 rounded" }}
        {{ form.password2.errors }}

        <button type="submit" class="w-full bg-primary text-white py-2 rounded hover:bg-gray-800">Créer mon compte</button>
      </form>
      <div class="text-center text-sm text-gray-600">
        Déjà un compte ?
        <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Se connecter</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
